[Unit]
Description=Disable audio fluence for speaker
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/droid/fluence-speaker-false.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
